{
    "global": {
    // run as daemon
    "daemon": true,
    // where to send log to: syslog:daemon, stderr, file:/path/file
    "log": "syslog:daemon",
    // pid file
    //"pidfile": "/var/run/cdns.pid",
    // enable or disable debug info
    "log_debug": false
    },
    "cdns": {
        // local server listen address and port
        "listen_ip": "127.0.0.1",
        "listen_port": 1053,
        // Timeout for each DNS request
        "timeout": 2,
        // List of upstream DNS servers
        "servers": [
        {
            "ip_port": "203.80.96.10"
        },
        {
            "ip_port": "8.8.4.4:53",
            // Default to zero which means no check for response time.
            // For non-zero value, if response time (RTT) is smaller than the
            // value, respone is considered as hijacked and is ignored before
            // doing any other check.
            "hijack_threshold": 50
        }
        ]
    }
}

